<!DOCTYPE html>
<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/college.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/main.js') }}">

</head>
<body>
<header>
<img src="{{ user_image }} " height="100px" width="100%">
  <h1 class="top-head">Information Technology</h1>
</header>
<nav>
<div class="topnav" id="myTopnav">
  <a href="{{url_for('index')}}" class="active">Home</a>
  <a href="{{url_for('student')}}" >STUDENT LOGIN </a>
  <a href="{{url_for('student')}}" > REGISTER</a>
  
  <a href="{{url_for('course')}}" >COURSE</a>
  <a href="#news" >SYLLABUS </a>
 

  <a href="{{url_for('Photo')}}" >PHOTO AND GALLARY </a>
  <a href="{{url_for('contact')}}">CONTACT AND HELP? </a>
</div>
</nav> 
<section>
  <h1>GALLARY</h1>
</section>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="  {{ user_image1}}  ">
  <div class="text"> </div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{{ user_image2}}"  >
  <div class="text"> </div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src=" {{user_image3}} "  >
  <div class="text"> </div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src=" {{user_image}} "  >
  <div class="text"> </div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{{user_image}} " >
  <div class="text"> </div>
</div>
</div>
<br>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<div class="row">
  <div class="column1" >
  <h3>STUDENT</h3>
    <ul >
      <li><a href="#"> STUDENT LOGIN</a></li>
      <li><a href="#">RESULT</a></li>
      <li><a href="#">SYLLABUS</a></li>
    </ul>
  </div>
  <div class="column2" style="background:transparent">
    <h1 align="center" style="color:red" >
      WELCOME TO GOVERMENT POLITECNIC LOHAGHAT <br>(राजकीय पालीटेक्निक लोहाघाट में आपका स्वागत है।)
    </h1>
    <h2 style="color:blue" style= "text-justify:newspaper";>
      इस संस्था का शुभारम्भ 1975 अक्टूबर माह में सीमान्त जनपद पिथौरागढ़ के फर्नहिल नाम के स्थित किराये के भवनों में हुआ। आरम्भ में इस संस्था में त्रिवर्षीय डिप्लोमा सिविल अभियन्त्रण तथा द्विवर्षीय स्टैनोग्राफी एण्ड सेकेट्रियल प्रेक्टिस डिप्लोमा पाट्यक्रम 30-30 प्रवेश क्षमता के साथ प्रारम्भ किये गये। सत्र 1984-85 से संस्था में त्रिवर्षीय विद्युत अभियंत्रण डिप्लोमा पाठ्यक्रम 30 प्रवेश क्षमता के साथ प्रारम्भ हुआ। जिसको वर्ष 1986-87 से इलैक्ट्रोनिक्स इंजीनियरिंग डिप्लोमा पाठ्यक्रम 30 में समावेशित कर दिया गया। सत्र 1985-86 से संस्था में द्विवर्षीय डिप्लोमा फार्मेसी पाठ्यक्रम 30 प्रवेश क्षमता के साथ प्रारम्भ किया गया। तथा वर्ष 2002-03 से त्रिवर्षीय सूचना प्रोद्योगिक डिप्लोमा पाठ्यक्रम प्रारम्भ हुआ।
    <br>

  संस्था में तकनीकी शिक्षा के अन्तर्गत अभियान्त्रिकी जैसे- सिविल, इलैक्ट्रोनिक्स, सूचना प्रौद्योगिकी जैसे अभियन्त्रण शाखाएं व फार्मेसी की अभियन्त्रण उत्तर शाखा एवं एम. ओ. एम. एण्ड सैकेट्रियल प्रैक्टिस शाखाओं में क्रमशः त्रिवर्षीय व द्विवर्षीय डिप्लोमा प्रदान करने की शिक्षा प्रदान की जाती है। अभियन्त्रण पाठ्यक्रमों का संचालन भारतीय तकनिकी शिक्षा परिषद (एआईसीटीई) तथा फार्मेसी पाठ्यक्रम का संचालन भारतीय भेषज परिषद (पीसीआई) द्वारा निर्धारित मानकों के आधार पर किया जाता है। वार्षिक परीक्षाओं तथा प्रवेश परीक्षा का संचालन तथा अघ्ययनोपरान्त पत्रापादिउपधि (डिप्लोमा) प्रदान करने का कार्य उत्तराखण्ड शासन द्वारा गठित उत्तराखण्ड प्राविधिक शिक्षा परिषद, रुड़की द्वारा किया जाता है। इस परिषद का एक और मुख्य कार्य संस्थाओं में विभिन्न अभियन्त्रण शाखाओं के लिए पाठ्यचर्या का निर्धारण व संसोधन भी है जबकि फार्मेसी से सम्बन्धित पाठ्यचर्या का कार्य भारतीय भेषज परिषद (पीसीआई) करती है। </h1>
 
    </h2>
  </div>
  <div class="column3">
    <ul>
      
      
    </ul>
  </div>
</div>

</div>
</body>
<footer>
  <div class="footer-content">
      <img src="logo.png" class="logo" alt="" >
      </div>
  </div>
</footer>
<footer>
<p class="info">support emails - gplohaght@gmail.com, lohaghat@gmail.com</p>
  <p class="info">telephone - 180 00 00 001, 180 00 00 002</p>
  <div class="footer-social-container">
      <div>
          <a href="#" class="social-link">terms & services</a>
          <a href="#" class="social-link">privacy page</a>
      </div>
      <div> 
          <a href="#" class="social-link">facebook</a>
      </div>
  </div>
  <p class="footer-credit">Government Polytechnic Lohaghat, Uttarakhand-262524. All rights are reserved © 2022-23</p>
</footer>
</html>
<script src="collage.js"></script>
</body>
</html>
